@model MemeGenerator.Data.Template

@{
    ViewBag.Title = "Create";
}

@section links{
    <link href="~/Content/Create.css" rel="stylesheet" />
}

<h2>@Model.Title</h2>
<div>
    <div>
        <img id="template" crossorigin="anonymous" style="display: none" class="meme-img" src=@Model.Url />
    </div>
    <div>
        <canvas id="canvas"></canvas>
    </div>
    <div>

        @using (Html.BeginForm("Create", "Home", FormMethod.Post, new { id = "form" }))
        {
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Coordinates)
            @Html.HiddenFor(model => model.Url)
            @Html.HiddenFor(model => model.Id)
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = Model.Title } })
             
            </div>
            foreach (var coord in Model.Coordinates)
            {
                <input class="textbox" name="textData" type="text" data-X=@coord.X data-Y=@coord.Y />
            }
            <input id="dataURL" name="dataURL" hidden="hidden" />
            <button id="preview" class="btn btn-primary" type="button">Preview</button>
            <button class="btn btn-success" type="submit" >Share</button>
        }
    </div>
</div>

<script src="~/Scripts/createMeme.js"></script>

@*@Html.BeginForm("Create", "Home", FormMethod.Post){ 
    
}*@