@model MemeGenerator.ViewModels.CreateTemplate

@{
    ViewBag.Title = "Create";
}

@section links {
    <link href="~/Content/template.css" rel="stylesheet" />
}
<h2>Create a Template</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @*<input id="upload" type="button" value="Upload an image" class="btn btn-default" />*@
        <a href="~/Template/Upload">Upload image</a>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control", id = "url" } })
                @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
            </div>
            

        </div>

        <div id="image"></div>
        <canvas id="canvas"></canvas>
        <div id="textboxes"></div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                
                <input id="addTextboxes" type="button" value="Specify text location" class="btn btn-default" />
                <input id="clear" type="button" value="Clear" class="btn btn-success" style="display: none" />
                <input id="submit" type="submit" disabled=true value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/createTemplate.js"></script>